<div class="side-panel-stepper h-100 p-relative overflow-hidden" *ngIf="activeReport">
  <div class="step step-1 p-absolute w-100 h-100 flex-column overflow-y-auto"
       [class.before]="activeStep > 1"
       [class.active]="activeStep === 1">
    <ng-container *ngTemplateOutlet="step1"></ng-container>
  </div>
  <div class="step step-2 p-absolute w-100 h-100 flex-column"
       [class.before]="activeStep > 2"
       [class.after]="activeStep < 2"
       [class.active]="activeStep === 2">
    <ng-container *ngTemplateOutlet="step2"></ng-container>
  </div>
  <div class="step step-3 p-absolute w-100 h-100 flex-column"
       [class.after]="activeStep < 3"
       [class.active]="activeStep === 3">
    <ng-container *ngTemplateOutlet="step3"></ng-container>
  </div>
</div>


<ng-template #step1>
  <div class="flex-column">
    <a [href]="'https://github.com/openmina/mina/commit/' + activeReport.commit" target="_blank"
       class="fx-row-vert-cent flex-between h-lg pl-12 pr-12 pointer text-decoration-underline-hover bg-container-hover primary-hover tertiary">
      <span class="fx-row-vert-cent">
        Open in GitHub - {{ activeReport.commit.substring(0, 7) }}
        <mat-icon svgIcon="github" class="ml-10"></mat-icon>
      </span>
    </a>

    <a [href]="droneUrl + '/' + activeReport.number" target="_blank"
       class="fx-row-vert-cent flex-between h-lg pl-12 pr-12 pointer text-decoration-underline-hover bg-container-hover primary-hover tertiary">
      <span class="fx-row-vert-cent">
        Open in Drone - {{ activeReport.number }}
        <mat-icon svgIcon="drone" class="ml-10"></mat-icon>
      </span>
    </a>

    <div *ngIf="compareBuild" class="mt-16 pl-12 pr-5 fx-row-vert-cent flex-between tertiary f-600">
      Performance check
      <a class="btn-primary bg-container pointer primary border-rad-6 pl-10 pr-10 h-sm lh-sm"
         [routerLink]="['/compare']"
         [queryParams]="{ compare: activeReport.number }">Compare this build</a>
    </div>
  </div>
  <div class="lh-lg f-600 pl-12 mt-16">Environment</div>
  <div class="bg-container ml-5 mr-5 flex-column border-rad-6 pr-10">
    <div class="fx-row-vert-cent flex-between h-lg pl-10">
      <span class="tertiary">Nodes</span>
      <span>{{ nodesCounters['nodes'] }}</span>
    </div>
    <div class="fx-row-vert-cent flex-between h-lg pl-10">
      <span class="tertiary">Snarkers</span>
      <span>{{ nodesCounters['snarkers'] }}</span>
    </div>
    <div class="fx-row-vert-cent flex-between h-lg pl-10">
      <span class="tertiary">Producers</span>
      <span>{{ nodesCounters['producers'] }}</span>
    </div>
  </div>
  <div class="lh-lg f-600 pl-12 mt-16">Blocks</div>
  <div class="lh-lg flex-row flex-between align-center bg-container-hover pointer tertiary primary-hover pr-12 pl-12"
       (click)="updateStep(2)">
    <span class="tertiary">Total</span>
    <div class="flex-row align-center">
      {{ blocks.length }} block{{ blocks.length !== 1 ? 's' : '' }}
      <span class="mina-icon icon-200 ml-10">arrow_forward</span>
    </div>
  </div>
  <div class="pl-10 pr-5 pb-12 mb-16 mt-5">
    <div class="bg-container mb-10 pt-12 pb-12 border-rad-6 pl-8">
      <div class="flex-row flex-between h-sm">
        <span class="f-600">Block Production Histogram</span>
        <div class="flex-row">
          <span class="h-sm lh-sm border-rad-4 pl-5 pr-5 mr-5 bg-container">
            Avg
            <span class="f-600">{{ activeReport.blockProductionAvg }}s</span>
          </span>
          <span class="h-sm lh-sm border-rad-4 pl-5 pr-5 mr-10 bg-container">
            Max
            <span class="f-600">{{ activeReport.blockProductionMax }}s</span>
          </span>
        </div>
      </div>
      <div class="gr" [style.height.px]="200">
        <ng-container #blockProductionGraph></ng-container>
      </div>
    </div>
    <div class="bg-container mb-10 pt-12 pb-12 border-rad-6 pl-8">
      <div class="flex-row flex-between h-sm">
        <span class="f-600">Block Broadcast Histogram</span>
        <div class="flex-row">
          <span class="h-sm lh-sm border-rad-4 pl-5 pr-5 mr-5 bg-container">
            Avg
            <span class="f-600">{{ activeReport.latencyAvg }}s</span>
          </span>
          <span class="h-sm lh-sm border-rad-4 pl-5 pr-5 mr-10 bg-container">
            Max
            <span class="f-600">{{ activeReport.latencyMax }}s</span>
          </span>
        </div>
      </div>
      <div class="gr" [style.height.px]="200">
        <ng-container #receiveLatenciesGraph></ng-container>
      </div>
    </div>
    <div class="bg-container pt-12 pb-12 border-rad-6 pl-8 mb-16">
      <div class="flex-row flex-between h-sm">
        <span class="f-600">Block Application Histogram</span>
        <div class="flex-row">
          <span class="h-sm lh-sm border-rad-4 pl-5 pr-5 mr-5 bg-container">
            Avg
            <span class="f-600">{{ activeReport.blockApplicationAvg }}s</span>
          </span>
          <span class="h-sm lh-sm border-rad-4 pl-5 pr-5 mr-10 bg-container">
            Max
            <span class="f-600">{{ activeReport.blockApplicationMax }}s</span>
          </span>
        </div>
      </div>
      <div class="gr" [style.height.px]="200">
        <ng-container #blockApplicationGraph></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #step2>
  <div class="flex-row align-center h-lg">
    <div class="h-100 pl-12 tertiary primary-hover mr-10 flex-row align-center pointer"
         (click)="updateStep(1)">
      <span class="mina-icon icon-200">arrow_back</span>
    </div>
    <span class="primary f-600">{{ blocks.length }} Blocks</span>
  </div>
  <mina-reporting-detail-block-list [blocks]="blocks"
                                    [currentSort]="currentBlocksSort"
                                    (sortBlocks)="sortBlocks.emit($event)"
                                    (changeBlock)="changeBlock.emit($event)"
                                    (closeStep2)="updateStep(3)"></mina-reporting-detail-block-list>
</ng-template>

<ng-template #step3>
  <mina-reporting-detail-active-block [block]="activeBlock"
                                      [currentSort]="currentPeerSort"
                                      (sort)="sortPeers.emit($event)"
                                      (closeStep3)="updateStep(2)"></mina-reporting-detail-active-block>
</ng-template>
