<div class="toolbar h-100 flex-row flex-stretch align-stretch w-100 p-relative"
     [class.pl-12]="!isMobile">
  <div class="flex-row align-center flex-grow">
    <img src="../../../assets/images/logo/Logo.png" class="logo">
    <span class="f-600 f-big" [class.pr-12]="!isMobile">{{ title }}</span>
    <mina-submenu-tabs></mina-submenu-tabs>
  </div>
  <div class="flex-row flex-end align-center">
    <mina-error-preview></mina-error-preview>
    <button class="switcher icon-btn p-0 mr-10"
            (click)="changeTheme()">
      <span class="mina-icon f-18">{{ currentTheme === 'light' ? 'dark_mode' : 'wb_sunny' }}</span>
    </button>
  </div>
  <div #loadingRef id="loadingRef" class="loading p-absolute"></div>
</div>
